body {
  margin: 0;
  padding: 0;
}


.header {
  text-align: center;

}

.search-bar {
  margin-bottom: 20px;
  text-align: center;
}

.add-data {
  margin-bottom: 0px;
  text-align: center;
}

.table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}